<div class="animated fadeIn">
  <h3 class="text-center mb-4">stresser.net is a premium DDoS service, there are no guarantees on the free methods.
    If you have questions read the <a href="#">{{'TEST' | translate}}</a> or join our open <a href="#">telegram group</a>.</h3>
  <div class="row">
    <div class="col-sm-5">
      <app-at-attack-panel></app-at-attack-panel>
    </div>
    <!--/.col-->
    <div class="col-sm-7">
      <app-at-running-attack></app-at-running-attack>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>