// Here you can add other styles
.navbar-toggler.d-none.d-lg-block + .nav.navbar-nav.ml-auto + button,
.navbar-toggler.d-lg-none
  + a
  + button
  + .nav.navbar-nav.ml-auto
  + button
  + button {
  display: none !important;
}

.progress {
  height: 1.5rem;
}

.toast-container .ngx-toastr {
  width: 350px;
}